<h1><strong>Hello World !</strong></h1>

<div>
    <p>Nous possédons une flotte de {{ numberOfStarships }} vaisseaux spaciaux !</p>
    {% if numberOfStarships > 400 %}
        <p>
            C'est une flotte considérable !
        </p>
    {% endif %}

    <table>
        <tr>
            <th>Name</th>
            <td>{{ myShip.name }}</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ myShip.captain }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ myShip.status }}</td>
        </tr>
    </table>
</div>
